{% load static %}
<div class="header">
    <div class="container-fluid">
        <div>
            <a class="btn sidebar-toggle" data-bs-toggle="offcanvas" href="#sidebar" role="button"
               aria-controls="sidebar">
                <i class="bi bi-list"></i>
            </a>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'main/img/logotype.png' %}" alt="" width="32" height="32">
            </a>
        </div>
        <form class="search-form">
            <div class="search-group">
                <input class="form-control" type="search" list="datalistOptions" id="exampleDataList"
                       placeholder="Search">
                <i class="bi bi-search"></i>
            </div>
            <datalist id="datalistOptions">
                <!--option value="Москва">
                <option value="Санкт-Петербург">
                <option value="Брянск">
                <option value="Екатеринбург">
                <option value="Волгоград"-->
            </datalist>
            <button class="d-none" type="submit"></button>
        </form>
        <div>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-profile" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'main/img/no-avatar.svg' %}" class="object-fit-cover" alt="">
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-images"></i>My images</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear-wide-connected"></i>Settings</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right"></i>Log out</button>
                        </form>
                    </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <div class="sign-btns d-none d-sm-flex">
                <a class="btn btn-primary py-1" href="{% url 'signin' %}">Sign In</a>
                <a class="btn btn-secondary py-1" href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>