{% load static %}
{% load images_tags %}
<div id="sidebar" class="sidebar offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1">
    <a class="btn sidebar-toggle nav-close d-sm-none" data-bs-toggle="offcanvas" href="#sidebar" role="button"
       aria-controls="sidebar">
        <i class="bi bi-x-circle"></i>
    </a>
    {% if user.is_authenticated %}
    <div class="nav-profile">
        <a class="avatar" href="{% url 'image_board' user.username %}">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" class="object-fit-cover" alt="">
            {% else %}
            <img src="{% static 'main/img/no-avatar.svg' %}" class="object-fit-cover" alt="">
            {% endif %}
        </a>
        <div class="fullname">
            <a href="{% url 'image_board' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div class="username">
            <a href="{% url 'image_board' user.username %}">@{{ user.username }}</a>
        </div>
        <div class="posts">{% user_image_count user %} Posts</div>
    </div>
    {% else %}
    <div class="sign-btns d-flex d-sm-none gap-2 m-auto mt-3">
        <a class="btn btn-primary" href="{% url 'signin' %}">Sign In</a>
        <a class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a>
    </div>
    {% endif %}
    <div class="offcanvas-body">
        <ul class="sidebar-menu">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    <i class="bi bi-house-fill"></i>
                    <span class="nav-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'recents' %}" class="{% if request.resolver_match.url_name == 'recents' %}active{% endif %}">
                    <i class="bi bi-clock-fill"></i>
                    <span class="nav-title">Recents</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'category' %}" class="{% if request.resolver_match.url_name == 'category' %}active{% endif %}">
                    <i class="bi bi-bookmarks-fill"></i>
                    <span class="nav-title">Categories</span>
                </a>
            </li>
        </ul>
        <div class="hr-line"></div>
        <ul class="sidebar-menu sidebar-categories">
            {% get_categories as category_items %}
            {% for category in category_items.categories %}
                <li class="nav-item">
                    <a href="{% url 'image_board' category.slug %}" class="{% if category == category_items.current %}active{% endif %}">
                        <span class="nav-title">{{ category.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>