{% extends 'main/base.html' %}
{% load static %}
{% load images_tags %}

{% block contents %}
<main class="main-content items-board{% if account %} profile-content{% endif %}">
    <div class="container-fluid">
        {% if account %}
        <div class="row align-items-center justify-content-center mt-3 mb-5">
            <div class="col-lg-6">
                <div class="profile-info">
                    <div class="avatar w-100">
                        {% if account.avatar %}
                        <img src="{{ account.avatar.url }}" class="object-fit-cover" alt="">
                        {% else %}
                        <img src="{% static 'main/img/no-avatar.svg' %}" class="object-fit-cover" alt="">
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="fullname">{{ account.first_name }} {{ account.last_name }}</div>
                        <div class="username">@{{ account.username }}</div>
                        <div class="posts">{{ image_count }} Posts</div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row masonry-container" data-masonry='{"percentPosition": true }'>
            {% for image in images %}
                {% include 'images/image_item.html' %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}