<div class="alert alert-success">
    <i class="bi bi-check-circle-fill"></i> We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
</div>
<div class="alert alert-info">
    <i class="bi bi-exclamation-circle-fill"></i> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
</div>
<div class="text-center">
    <span>Remember your password?</span>
    <a href="{% url 'signin' %}" class="fw-medium text-decoration-none">Sign In</a>
</div>