{% extends 'main/base.html' %}

{% block contents %}
<main class="main-content sign-content">
    <div class="container-fluid">
        <div class="row g-3 g-sm-5 align-items-center justify-content-center p-sm-5">
            <div class="col-md-8 col-lg-6 sign-description">
                <h1 class="title">Sign In<br><span class="text-primary">to start posting your images</span></h1>
                <p class="d-none d-lg-block info">ImageHub is a user-driven platform designed to simplify the process of
                    sharing and discovering captivating images. Users can effortlessly upload their photos, complete
                    with descriptions, to create a personal gallery or contribute to the community's growing collection.
                    The platform allows for seamless browsing, enabling visitors to explore a diverse range of images
                    uploaded by other users.</p>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body p-4">
                        <form method="post">
                            {% csrf_token %}

                            {% for i in form %}
                            <div class="mb-3">
                                <label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}</label>
                                {{ i }}
                                {% if i.errors %}
                                <div class="alert alert-danger mt-2">{{ i.errors }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}

                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                            {% endif %}

                            <div class="text-center mb-2">
                                <button type="submit" class="btn btn-primary px-5">Sign In</button>
                            </div>
                            <div class="text-center">
                                <span>Don't have an account?</span>
                                <a href="{% url 'signup' %}" class="fw-medium text-decoration-none">Sign Up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}